
@{
    Layout = null;
}

<!DOCTYPE html>

<h3>Kategori Tablo</h3>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
    </tr>
</table>